
.product-detail .list-properties input[type="radio"]{
    display: none;
}

.product-detail .list-properties span {
    padding: 5px;
}

.product-detail .list-properties input[type="radio"]:checked + span{
    background-color: #f9f9f9;
    outline: 1px solid #444;
}

.product-detail .list-properties label:hover {
    cursor: pointer;
}