#sidebar-menu, #sidebar-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-menu > li > a, #sidebar-menu a:hover, #sidebar-menu li.active > a {
    background: #444;
}

#sidebar-menu li {
    border-bottom: 1px solid #676767;
}

#sidebar-menu a {
    display: block;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
}

#sidebar-menu .tree-group-collapsed {
    display: none;
}

#sidebar-menu .active > ul {
    display: block;
}